* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: rgb(29, 29, 32);
}

.title {
  color: rgb(216, 216, 216);
  width: fit-content;
  margin: 25px auto 0 auto;
  text-align: center;
}

.searchHeader {
  color: rgb(216, 216, 216);
  width: fit-content;
  margin: 50px auto 5px auto;
  text-align: center;
}
#searchBox {
  margin: 0 auto;
  display: block;
  width: 25%;
  height: 25px;
}

#resultsContainer {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 25%;
}

.result {
  background-color: rgb(97, 97, 97);
  cursor: pointer;
}
.result:hover {
  background-color: rgb(65, 65, 65);
}
.result img {
  margin: 10px;
}
.result p {
  display: inline-block;
  margin: 17px 10px;
  vertical-align: top;
}

#itemContainer {
  margin: 50px 0;
}
#itemContainer > div {
  background-color: rgb(20, 20, 20);
  width: 80%;
  margin: 0 auto;
  border-radius: 16px;
  color: antiquewhite;
  padding: 40px;
}

.itemInfo {
  display: inline-block;
  width: fit-content;
  margin: 41px;
  vertical-align: top;
}
.itemInfo h2, .itemInfo2 h2 {
  margin-bottom: 10px;
}

.itemInfo2 {
  display: inline-block;
  width: fit-content;
  margin: 41px 41px 0 0;
  vertical-align: top;
  float: right;
}
.itemInfo2 p {
  float: right;
  margin-bottom: 10px;
}


.itemInfo3 {
  width: 128px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}
.itemInfo3 p {
  margin-bottom: 10px;
}

.itemInfo4 {
  display: inline-block;
  margin-left: 41px;
  width: 60%;
}
.itemInfo4 p {
  width: 45%;
  display: inline-block;
}
hr {
  margin: 10px 0 10px 0;
}

#calcContainer {
  display: flex;
  justify-content: space-around;
}
.calcDiv {
  width: 25%;
  background-color: rgb(20, 20, 20);
  border-radius: 16px;
  color: antiquewhite;
  padding: 40px;
  cursor: pointer;
}
.calcDiv:hover {
  background-color: rgb(22, 22, 22);
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
th, td {
  text-align: left;
  padding: 10px 15px;
}
tr > td:first-child {
  width: 225px;
}
tr > td:nth-child(2), tr > td:nth-child(3) {
  width: 100px;
}

.greenText {
  color: green;
}
.redText {
  color: red;
}